@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: orangered;
    font-family: 'Raleway', 'sans-serif';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 140px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: whitesmoke;
}
nav ul{
    display:flex;
}
nav ul li a{
    font-family: 'Raleway', sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 17px;
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    color: orangered;
    letter-spacing: 1px;
    transition: 0.6s ease;
}
nav ul li a:hover{
    border-bottom: 2px solid skyblue;
    box-shadow: 5px 10px 30px rgba(0, 255, 128, 0.4);
}
.active{
    border-bottom: 2px solid skyblue;
    box-shadow: 5px 10px 30px rgba(0, 255, 128, 0.4);

}
header{
    width: 600px;
    height: 700px;
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-image: url(images/pic.png);
}
.header-heading{
    width: 500px;
    position: absolute;
    left: 150%;
    top: 50%;
    color: aliceblue;
    transform: translate(-18%,-50%);
}
.header-heading h1{
    font-size: 59px;
    margin: 0px;
    letter-spacing: 3px;
}
header p{
    color:#c0c0c0;
}
.header-btn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00e9a5;
    box-shadow: 5px 10px 30px rgba(0,255,128,0.4);
    border-radius: 5px;
    color: #000;
    margin-top: 15px;
    transition: 0.6s ease-in-out;
}
.header-btn:hover{
    background-color: burlywood;
}
main{
    width: 100%;
    height: 110vh;
    background-color:darkgray;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}
.about-img{
    width: 50%;
}
.about-img img{
    width: 600px;
}
#about-text{
    width: 45%;
    color: aliceblue;
}
.about-text h2{
    font-size: 2rem;
    font-weight: 600;
}
footer{
    width: 100%;
    height: 140vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0px;
}
.work-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-box{
    background-color: aquamarine;
    width: 370px;
    height: 550px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 10px 12 rgba(0, 0, 0, 0.02);
    position: relative;
}
.work-text{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.work-text p{
    text-align: center;
}
#work-heading{
    text-align: center;
    color:aliceblue;
    margin: 20px 0px;
}
.work-heading h1{
    font-size: 2.5rem;
}
.work-heading p{
    color:aliceblue;
}
#Contact{

    background-color:  darkgray ;
    z-index: 1;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #ffa31a;
}
.footer-content p{
    font-size: 14px;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    color: #ddd;
    justify-content: center;
    text-align: center;
}
.footer-social a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    float: center;
    justify-content:center;
    font-size: 17px;
    cursor: pointer;
    color: grey;
    margin-right: 20px;
    background-color: rgba(27, 26, 24, 0.1);
    margin-top: 20px;
}
.footer-social a:hover{
    transform: scale(1.1);
    background-color: #ffa31a;
    transition: 0.4s;
}

.footer-contact{
    margin-top: 30px;
}
.footer-contact a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    align-items: center;
    justify-content:center;
    font-size: 17px;
    cursor: pointer;
    color: darkslategrey;
    margin-right: 150px;

}
.footer-contact a:hover{
    transform: scale(1.2);
 
    transition: 0.4s;
}
.footer-bottom{
    padding-top: 50px;
}

